.button-logged-in-google-real {
  color: #ff0000;
  text-decoration: none;
  position: absolute;
  right: 50px;
  top: 50px;
  padding: 5px 10px 5px 10px;
  /* background: #fff4f4; */
  border-radius: 10px;
  font-weight: bold;
  position: absolute;
  background: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
}

.button-logged-in-google-real:visited {
  text-decoration: none;
}

.button-logged-in-google-real:hover {
  background: lightgray;
}

.logged-in-logo {
  /* padding: 50px 0px 0px 70px; */
  /* font-size: 50px; */
  /* position: absolute; */
  font-size: 50px;
  position: absolute;
  width: 90px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  left: 50px;
  top: 55px;
  background: lightgray;
}

.logged-in-landing-header {
  margin-right: auto;
  margin-left: auto;
  padding-top: 62px;
  /* font-size: 48px; */
  color: #ffffff;
  font-family: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 6px;
  font-size: 76px;
}

.logged-in-inner-navigation-div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* background: #9df5f5; */
}

.logged-in-main-div {
  height: 100%;
  /* background: #9df5f5; */
}

.logged-in-header {
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
  font-size: 24px;
}

.logged-in-recent {
  margin-left: 10px;
  color: darkblue;
}

.button-to-create-job {
  margin-left: auto;
  text-align: left;
  width: 500px;
  margin-right: auto;
  padding-top: 150px;
}

.link-to-create-job {
  color: #ff0000;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  background: #fff4f4;
  border-radius: 10px;
  font-weight: bold;
  background: white;
  padding: 6px 20px;
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
}

.link-to-create-job:hover {
  background: lightgray;
}

/* JOBS INDEX  */

.job-index-item-container-div {
  text-align: center;
  margin-top: 30px;
}

.job-index-item-outer-div {
  /* width: 500px; */
  /* margin-right: auto;
  margin-left: auto; */
  /* padding: 20px; */
}

.job-index-item-inner-div {
  width: 500px;
  padding: 15px;
  border: 1px solid black;
  margin-bottom: 30px;
  background: #eaf9f9;
  border-radius: 5px;
  transition: width 0.15s;
  margin-right: auto;
  margin-left: auto;
}

.link-to-job-show-page {
  text-decoration: none;
  color: black;
}

.link-to-job-show-page:visited {
  text-decoration: none;
  color: black;
}

.job-index-item-inner-div:hover {
  background: lightblue;
  cursor: pointer;
  /* padding: 50px; */
  width: 550px;
  /* padding-top: 30px; */
  /* padding-bottom: 50px; */
  margin-right: auto;
  margin-left: auto;
  /* padding-left: 30px; */
}

.job-index-item-name {
  font-size: 20px;
  font-weight: 700;
}

.job-index-item-info {
  margin-top: 10px;
  margin-bottom: 4px;
}

.job-index-item-estimate {
  /* margin-top: 4px; */
}

.job-index-item-salary {
  /* margin: 4px; */
}

.job-index-item-description {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left:50px; */
}

.job-index-item-summary {
  text-align: left;
  margin-top: 5px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.job-index-item-post-date {
  width: 480px;
  text-align: left;
  margin-top: 10px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

.job-index-item-date {
  width: 480px;
  text-align: left;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
}

.job-show-page-outer-div {
  height: 100%;
  position: fixed;
  /* background: #9df5f5; */
}

/* RESUME */

.modal-screen {
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.resume-form {
  min-width: 300px;
  min-height: 300px;
  background: #F4F3E1;
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}

.resume-button {
  background: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
  position: absolute;
  right: 50px;
  top: 100px;
}

.resume-button:hover {
  background: lightgray;
  cursor: pointer;
}

.close-button {
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* NEW JOB FORM */

.job-form-outer-div {
  height: 100%;
  /* background: #9df5f5; */
  text-align: center;
}

.job-form-container-div {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  margin-top: 50px;
  background: darkgray;
  border-radius: 10px;
  box-shadow: 10px 10px grey;
}

.create-new-job-header {
  font-size: 30px;
  font-weight: 700;
  /* padding-top: 50px; */
  padding: 40px;
}

.new-job-criteria-div {
  position: relative;
  padding-bottom: 10px;
}

.new-job-label {
  position: absolute;
  left: 30px;
  font-weight: 700;
}

.new-job-input {
  margin-left: 150px;
  width: 250px;
}

.new-job-textarea {
  margin-left: 150px;
  width: 250px;
  height: 70px;
}

.button-to-cancel-new-job {
  padding: 5px 10px 5px 10px;
  /* padding: 10px 20px; */
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
  background: white;
}

.button-to-create-new-job {
  padding: 5px 10px 5px 10px;
  /* padding: 10px 20px; */
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: white;
}

.button-to-cancel-new-job:hover {
  background: lightblue;
  cursor: pointer;
}

.button-to-create-new-job:hover {
  background: lightblue;
  cursor: pointer;
}

.link-to-cancel-new-job {
  text-decoration: none;
}

.link-to-cancel-new-job:visited {
  text-decoration: none;
  color: black;
}

/* REVIEWING FORM */

.outer-review-form-div {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.review-value {
  margin-top: 10px;
  border: 1px solid white;
  background: white;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.review-value-textarea {
  overflow-wrap: break-word;
  margin-top: 10px;
  border: 1px solid white;
  background: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.review-main-div {
  margin-bottom: 10px;
}

.review-label {
  font-weight: 700;
  color: #d23939;
  /* margin-bottom: 10px; */
}

.confirm-job-header {
  color: red;
}

.review-value-textarea {
  text-align: left;
  border: 1px solid white;
  background: white;
}

.back-button-new-job {
  padding: 5px 10px 5px 10px;
  /* padding: 10px 20px; */
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: white;
}

.back-button-new-job:hover {
  background: lightgray;
  cursor: pointer;
}

.submit-button-new-job {
  padding: 5px 10px 5px 10px;
  /* padding: 10px 20px; */
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: white;
}

.submit-button-new-job:hover {
  background: lightgray;
  cursor: pointer;
}

.job-show-page-outer-div {
  width: 100%;
}

.job-show-page-main-div {
  width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background: lightgray;
  padding: 20px;
  border-radius: 10px;
}

.job-show-page-title {
  font-size: 20px;
  font-weight: 700;
}

.job-show-page-summary-header {
  margin-top: 10px;
  color: red;
}

.job-show-page-summary {
  margin-top: 6px;
}

.job-show-page-responsibility-header {
  margin-top: 10px;
  color: red;
}

.job-show-page-responsibility {
  margin-top: 6px;
}

.job-show-page-qual-header {
  margin-top: 10px;
  color: red;
}

.job-show-page-qual {
  margin-top: 6px;
}
