.my-profile-created-job-header {
  font-size: 30px;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}

.my-profile-applied-job-header {
  font-size: 30px;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
}

.profile-outer-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  padding: 20px 0px 20px 0px;
}

.created-jobs-div {
  background: gray;
  border-radius: 10px;
  text-align: center;
  border-radius: 10px;
  width: 425px;
  padding-bottom: 20px;
}

.applied-jobs-div {
  background: gray;
  border-radius: 10px;
  text-align: center;
  margin-left: 50px;
  border-radius: 10px;
  width: 425px;
  padding-bottom: 20px;
}

.profile-inner-container {
  /* height: 100%; */
  /* display: inline-block; */
  width: 400px;
  height: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.my-created-jobs-container {
  padding: 5px 10px 5px 10px;
  border: 1px solid white;
  background: lightgray;
  border-radius: 10px;
}

.my-applied-job-container {
  padding: 5px 10px 5px 10px;
  border: 1px solid white;
  background: lightgray;
  border-radius: 10px;
}

.my-created-jobs-title {
  font-size: 20px;
}

.link-to-user-profile {
  position: absolute;
  right: 160px;
  top: 50px;
  border-radius: 10px;
  font-weight: bold;
  position: absolute;
  background: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
}

.link-to-user-profile {
  text-decoration: none;
}

.link-to-user-profile:visited {
  text-decoration: none;
  color: red;
}

.link-to-user-profile:hover {
  background:lightgray;
}
