html, body, div, span, h1, h2, h3, p, img, strong, center, ol, ul, li, nav, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  letter-spacing: 1px;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
  position: relative;
}
/*
body  {
background: linear-gradient(to right, blue 0%,black 50%,#000000 50%,black 50%,blue 100%);
} */

body {
  background: radial-gradient(black, blue);
}
