.resumelist-component {
  display: flex;
}

.resume-container {
  background: #ebebeb;
  font-size: 100%;
  width: 700px;
  max-height: 650px;
  margin: 10px 0 0 290px;
  padding: 20px 40px;
  overflow: scroll;
  border-radius: 7px;
}

.resume-approve, .resume-decline {
  background: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid black;
  margin: 0 auto;
}

.percent-match {
  color: red;
  width: 700px;
  padding: 20px 0;
  margin: 40px 0 0 290px;
  border: 1px solid #aee0bc;
  border-radius: 10px;
  text-align: center;
  font-size: 140%;
  background: #eaf5e8;
}

.approved-resume-container {
  background: white;
  position: fixed;
  left: 1100px;
  top: 260px;
  border: 1px solid black;
  padding: 20px 20px 40px 20px;
  max-height: 650px;
  overflow: visible;
  transition: height 0.5s ease-in-out;
}

.approved-resume-title, .rejected-resume-title {
  color: red;
  padding: 10px 0;
  border-bottom: 1px solid black;
  font-size: 150%;
}

.approved-list {
  list-style: none;
}

.approved-list>li:first-child {
  margin-top: 20px;
}

.approved-item {
  padding: 10px;
  background: #eaf5e8;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #aee0bc;
}

.stats-resume-container {
  background: white;
  position: fixed;
  left: 10px;
  top: 260px;
  border: 1px solid black;
  padding: 20px 20px 40px 20px;
}
